DATABASE_URL=
SIMULATION_START_TIME=2026-05-20T09:00:00Z
GAME_SPEED=300

AIRPORT_SERVICE_URL=http://localhost:3001
BEACH_SERVICE_URL=http://localhost:8080
BROADCAST_SERVICE_URL=http://localhost:3002
HOTEL_TOKEN=hotel-token
